body
        {
            background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://i.ibb.co/h723XtL/Adobe-Stock-122640615.jpg');
            background-attachment: fixed; 
            background-size: cover;
        }

        @media only screen and (max-width: 400px) 
        {
            body { 
                background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://i.ibb.co/HgGzY9v/020.jpg'); 
                background-attachment: fixed; 
                background-size: 100% 100%;
            }
          }